  /* WORK PREVIEW PAGE ----------------------------------------------------------------------- */

  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    width: 500px;
    height: 100vh;
    transition: all 2s;
    opacity: 50%;
  }
  
  .slide a {
    /* position: relative; */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slide img {
    width: 100%;
  }
  
  .slide:hover {
    opacity: 100%;
    width: 700px;
    /* transform: translateY(-100px); */
    transition: all 2s;
  }
  
  .slide__title {
    color: white;
    opacity: 0%;
    transition: all 2s;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 200px;
  }
  
  .slide:hover .slide__title {
    opacity: 100%;
    transition: all 2s;
    margin-bottom: 15px;
  }
  
  .slide__voir {
    position: absolute;
    font-size: 100px;
    font-weight: 700;
    color: black;
    opacity: 0;
    
    transition: all 3s;
  }
  
  .slide a:hover .slide__voir {
    opacity: 20%;
    
    transition: all 5s;
  }
  
  
  .slide__credits {
    height: 300px;
    transition: all 2s;
    opacity: 0;
    margin-top: 200px;
  }
  
  .slide:hover .slide__credits {
    opacity: 100%;
    transition: all 2s;
    margin-top: 15px;
  }
  
  
  .wrapper {
    /* margin-top:50vw; */
    display: flex;
    flex-direction: row;
    /* doit correspondre à la longueur de la largeur de tous les items réunis */
    width: 1500px; 
    transform: rotate(90deg) translateY(-100vh);
    transform-origin: top left;
  }
  
  .outer-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: sticky;
    position: -webkit-sticky;
    top: 0; */
    width: 100vh;
    height: 100vw;
    transform: rotate(-90deg) translateX(-100vh);
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }