html {
  --main-color: #e15050;
}

body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    color: whitesmoke;
    font-weight: 400;
    background-color: black;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    position: relative; 
    cursor: url(../medias/cursor1.png), pointer;*/ 
}

video#bgv {
    /* background video pleine écran */
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100%;
    width: auto; height: auto; z-index: -100;
    /* background: url(polina.jpg) no-repeat; */
    background-size: cover;
    z-index: -100;
  }

  .cursor {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid;
    background-color: aliceblue;
    position: absolute;
    z-index: 100;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  .svg {
     fill: red;
  }
  
  /* Pour changer la couleur d'un fichier svg le fond dans fill (dans le html et le vecteur dans le css avec la propiété fill: couleur; */
  #Calque_1 {
    fill: red;
  }

  #Calque_1:hover {
    fill: rgb(0, 17, 255);
  }

  /* TEXT FORMAT */

  h3 {
    font-size: 22px;
    font-weight: 400;
  }

  .text-red {
    color: var(--main-color);
  }


  /* MANU ELEMENT */

  .menu {
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: flex-end;
  }

  .menu__container {
    margin: 50px 50px;
  }

  .menu__button-img {
    width: 70px;

    padding: 0 15px;
  }

  /* LINK RESEAU */
  .link__instagram {
    position: fixed;
    bottom: 50px;
    left: 50px;
    width: 50px;
  }
  
  
  /* HOME ELEMENT */

  .home-wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1200px;
    
    height: 665px;
  }

  .home__titre-wrapper {
    z-index: 10;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100px;
    background: linear-gradient(90deg,rgba(0, 0, 0, 0), black 1000px, rgba(0, 0, 0, 0));
  }
  .home__titre {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 80;
    cursor: url("medias\cursor-see.cur"), pointer;
  }

  .home__titre-nom {
    width: 250px;
  }

  .home__titre-fonction {
    width: 200px;
  }

  .focus {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
  
  }


  .focus:hover {
    transition-property: all;
    transition-timing-function: ease-in-out;
    transition-duration: 2s;
    cursor: url("medias/cursor-see.png"), pointer;
    opacity: 100%;
    z-index: 1000;
    width: 1200px;
  }

  .home__image-1 {
    position: absolute;
    z-index: 4;
    width: 500px;
    top: 0;
    left: 0;
    opacity: 50%;
    cursor: url("medias\cursor-see.cur"), pointer;
  }



  .home__image-2 {
    position: absolute;
    z-index: 1;
    opacity: 50%;
    width: 500px;
    top: 0;
    right: auto;
    left: auto;
  }

  .home__image-3 {
    position: absolute;
    z-index: 2;
    opacity: 50%;
    width: 500px;
    top: 0;
    right: 0;
  }

  .home__image-4 {
    position: absolute;
    z-index: 3;
    opacity: 50%;
    width: 500px;
    bottom: 0;
    right: 0;
  }

  .home__image-5 {
    position: absolute;
    z-index: 2;
    opacity: 50%;
    width: 500px;
    bottom: 0;
    right: auto;
    left: auto;
  }

  .home__image-6 {
    position: absolute;
    z-index: 3;
    opacity: 50%;
    width: 500px;
    bottom: 0;
    left: 0;
  }


  /* WORK PREVIEW PAGE ----------------------------------------------------------------------- */

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  width: 500px;
  height: 100vh;
  transition: all 2s;
  opacity: 50%;
}

.slide a {
  /* position: relative; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
}

.slide:hover {
  opacity: 100%;
  width: 700px;
  /* transform: translateY(-100px); */
  transition: all 2s;
}

.slide__title {
  color: white;
  opacity: 0%;
  transition: all 2s;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 200px;
}

.slide:hover .slide__title {
  opacity: 100%;
  transition: all 2s;
  margin-bottom: 15px;
}

.slide__voir {
  position: absolute;
  font-size: 100px;
  font-weight: 700;
  color: black;
  opacity: 0;
  
  transition: all 3s;
}

.slide a:hover .slide__voir {
  opacity: 20%;
  
  transition: all 5s;
}


.slide__credits {
  height: 300px;
  transition: all 2s;
  opacity: 0;
  margin-top: 200px;
}

.slide:hover .slide__credits {
  opacity: 100%;
  transition: all 2s;
  margin-top: 15px;
}


.wrapper {
  margin-top:25vw;
  display: flex;
  flex-direction: row;
  /* doit correspondre à la longueur de la largeur de tous les items réunis */
  width: 4000px; 
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.outer-wrapper {
  position: absolute;
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}


/* WORK PAGE  --------------------------------------------------------------------------------------------------*/

.work-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.work {
  width: 1200px;
  display: flex;
  flex-direction: row;
}

.work__info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  width: 27%;
  box-sizing: border-box;
  padding: 0 20px;
  text-align: end;
}

.work__video {
  width: 70%;
  /* overflow: hidden; */
  /* 16:9 aspect ratio */
  height: 500px;
  position: relative;
}

.work__video-title {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 20px;
  font-weight: 400;
}

.work__video-video {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.work__video-img {
  z-index: -10;
  opacity: 0.2;
  position: absolute;
  right: 100px;
  bottom: 100px;
  width: 100%;
  height: 100%;
  background-color: grey;
}

.work__order {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 3%;
  height: auto;
}

.work__order-line {
  width: 2px;
  height: 30px;
  background-color: grey;
}

/* ABOUT PAGE ------------------------------------------------------------------------------*/

.about-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.about-wrapper h1 {
  margin-right: auto;
  color: var(--main-color);
  font-weight: 400;
}

.about__img {
  display: flex;
  flex-direction: row;
  position: absolute;
}

.about__img-img {
  margin: 0 50px;
  width: 400px;
  height: 80vh;
  background-image: url(../medias/Raphael\ Harari.jpg);
  background-size: cover;
  opacity: 0.1;
  transition: 2s;
}

.about__img-img:hover {
z-index: 10;
opacity: 100%;
width: 800px;
transition: 2s;
}

.about {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 1200px;
  max-width: 80vw;
  display: flex;
  align-items: center;
}

.about__info {
  width: 80%;
}

.about__info-année {
font-size: 26px;
}

.about__info-me-contacter {
  font-size: 34px;
}

.social-wrapper {
  display: inline;
}
  
.social-wrapper img {
  width: 50px;
  height: 50px;
  background-color: grey;
  margin-right: 30px;
}

