html {
  --main-color: #e15050;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  margin: 0;
  padding: 0;
  font-family: 'Work Sans', sans-serif;
  color: whitesmoke;
  font-weight: 400;
  background-color: black;
  scrollbar-width: none;
  -ms-overflow-style: none;
  cursor: url("medias\manuscrit\iconmonstr-fish-2.svg"), default;
}

.custom-body {
  overflow-x: hidden;
  overflow: -moz-scrollbars-none;
}

.custom-body::-webkit-scrollbar {
  display: none;
}


video#bgv {
  /* background video pleine écran */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  /* background: url(polina.jpg) no-repeat; */
  background-size: cover;
  z-index: -100;
}


.svg {
  fill: red;
}

/* Pour changer la couleur d'un fichier svg le fond dans fill (dans le html et le vecteur dans le css avec la propiété fill: couleur; */
#Calque_1 {
  fill: red;
}

#Calque_1:hover {
  fill: rgb(0, 17, 255);
}

/* TEXT FORMAT */

h3 {
  font-size: 22px;
  font-weight: 400;
}

.text-red {
  color: var(--main-color);
}


/* MENU ELEMENT           -----*/

.menu {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu__container {
  box-sizing: border-box;
  height: 80px;
  margin: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.menu__button-home {
  z-index: 200;
  position: relative;
  bottom: 7px;
  width: 45px;
  height: 40px;
  margin: 0 15px;
  background-image: url("../medias/manuscrit/home-dessin.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s;
}

.menu__button-home:hover {
  background-image: url("../medias/manuscrit/home-dessin_red.png");
  transition: all 1s;
  transform: rotate(30deg);
}

.menu__button-work {
  z-index: 200;
  width: 80px;
  height: 40px;
  margin: 0 15px;
  background-image: url("../medias/manuscrit/work.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s;
  transform: rotate(-1deg);
}

.menu__button-work:hover {
  background-image: url("../medias/manuscrit/work_red.png");
  transition: all 1s;
  transform: rotate(-30deg);
}

.menu__button-contact {
  z-index: 200;
  width: 90px;
  height: 40px;
  margin: 0 15px;
  background-image: url("../medias/manuscrit/contact.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s;
}

.menu__button-contact:hover {
  background-image: url("../medias/manuscrit/contact_red.png");
  transition: all 1s;
  transform: rotate(30deg);
}

.menu__button-about {
  z-index: 200;
  width: 70px;
  height: 40px;
  margin: 0 15px;
  background-image: url("../medias/manuscrit/about.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 1s;
  transform: rotate(-3deg);
}

.menu__button-about:hover {
  background-image: url("../medias/manuscrit/about_red.png");
  transition: all 1s;
  transform: rotate(-30deg);
}


/* LINK RESEAU */
.link__instagram {
  position: fixed;
  z-index: 200;
  bottom: 50px;
  left: 50px;
  width: 50px;
}

/* CURSOR */

div.cursors div {
  position: absolute;
  top: 300px;
  left: 300px;
  width: 24px;
  height: 24px;
  background-color: var(--main-color);
  border-radius: 50%;
  z-index: 150;
  pointer-events: none;
  transform: translate(-50%, -50%);
}

div.cursors div span {
  position: absolute;
  top: -40px;
  left: 40px;
  width: 400px;

  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  color: var(--main-color);
  opacity: 0;
  transition: opacity 2s;
  ;
}

div.cursors div span.visible {
  opacity: 1;
}

/* ANIM         ----- */
.screen {
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  position: fixed;
}

#anim {
  width: 500px;
}

/* HOME SECTION--------------------------------------------------------------------- */

.home-wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 665px;
}

.home__titre-wrapper {
  z-index: 5;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 0), black 1000px, rgba(0, 0, 0, 0));
}


.home__titre {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 80;
}

.home__titre a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.home__titre-nom {
  width: 250px;
}

.home__titre-fonction {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 250px;
}

.focus {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 2s;

}

.focus:hover {
  transition-property: all;
  transition-timing-function: ease-in-out;
  transition-duration: 2s;
  opacity: 100%;
  z-index: 100;
  width: 1200px;
}

.home__image-1 {
  position: absolute;
  z-index: 4;
  width: 500px;
  top: 0;
  left: 0;
  opacity: 50%;
}

.home__image-2 {
  position: absolute;
  z-index: 1;
  opacity: 50%;
  width: 500px;
  top: 0;
  right: auto;
  left: auto;
}

.home__image-3 {
  position: absolute;
  z-index: 2;
  opacity: 50%;
  width: 500px;
  top: 0;
  right: 0;
}

.home__image-4 {
  position: absolute;
  z-index: 3;
  opacity: 50%;
  width: 500px;
  bottom: 0;
  right: 0;
}

.home__image-5 {
  position: absolute;
  z-index: 2;
  opacity: 50%;
  width: 500px;
  bottom: 0;
  right: auto;
  left: auto;
}

.home__image-6 {
  position: absolute;
  z-index: 3;
  opacity: 50%;
  width: 500px;
  bottom: 0;
  left: 0;
}


/* WORK PREVIEW PAGE ----------------------------------------------------------------------- */


.workpreview {
  /* margin-top:50vw; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  /* doit correspondre à la longueur de la largeur de tous les items réunis */
  width: 100vw;
  height: 100vh;
}

.slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 20px;
  width: 500px;
  height: 100vh;
  transition: all 2s;
  opacity: 50%;
  z-index: 200;
}

.slide a {
  /* position: relative; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide img {
  width: 100%;
}

.slide:hover {
  opacity: 100%;
  width: 700px;
  /* transform: translateY(-100px); */
  transition: all 2s;
}

.slide__title {
  color: white;
  opacity: 0%;
  transition: all 2s;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 200px;
}

.slide:hover .slide__title {
  opacity: 100%;
  transition: all 2s;
  margin-bottom: 15px;
}

.slide:hover iframe {
  opacity: 100%;
  transition: all 2s;
}

.slide__voir {
  position: absolute;
  font-size: 100px;
  font-weight: 700;
  color: black;
  opacity: 0;

  transition: all 3s;
}

.slide a:hover .slide__voir {
  opacity: 20%;

  transition: all 5s;
}

.slide__clip {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
}

.slide__clip img {
  position: absolute;
}

.slide__clip iframe {
  z-index: 3;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 2s;
}

.slide__credits {
  height: 300px;
  transition: all 2s;
  opacity: 0;
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.slide:hover .slide__credits {
  opacity: 100%;
  transition: all 2s;
  margin-top: 15px;
}

.slide__credits-voirplus {
  background-image: url("../medias/manuscrit/voir +.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 50px;
  width: 120px;
  margin-top: 50px;
  transition: all 1s;
}

.slide__credits-voirplus:hover {
  background-image: url("../medias/manuscrit/voir +_red.png");
  height: 50px;
  width: 120px;
  transition: all 1s;
}




/* WORK PAGE  --------------------------------------------------------------------------------------------------*/

.work-screnn {
  position: relative;
  overflow: hidden;

}

.work-wrapper {
  width: 100vh;
  height: 100vw;
  transform: rotate(-90deg) translateX(-100vh);
  transform-origin: top left;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  -ms-overflow-style: none;
  position: absolute;
}

.work-wrapper::-webkit-scrollbar {
  display: none;
}

.work__info {
  width: 100vw;
  height: 50vh;
  margin-top: 50vh;
  position: fixed;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  z-index: 0;
  /* background-color: blanchedalmond; */
}


.work__info-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: row;
  padding-top: 50px;

  /* width: 100px;
  height: ; */
  z-index: 10;
}

.work__info-left {
  text-align: right;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 0 30px 0 0;

}

.work__info-center {
  width: 2px;
  height: 30vh;
  background-color: gray;
}

.work__info-right {
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 30px;

}

.work {
  height: 50vh;
  position: relative;
  display: flex;
  flex-direction: row;
  padding-left: 30vw;
  padding-right: 30vw;
  /* doit correspondre à la longueur de la largeur de tous les items réunis */
  width: 2000px;
  transform: rotate(90deg) translateY(-100vh);
  transform-origin: top left;
}

.work__slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 20px 20px 50px;
  width: 500px;
  /* height: 50vh; */
  transition: all 2s;
  opacity: 80%;
}

.work__slide:hover {
  opacity: 100%;
  width: 700px;
  /* transform: translateY(-100px); */
  transition: all 2s;
}

.work__slide img {
  width: 100%;
}

.work__slide iframe {
  width: 500px;
  height: 258px;
  border: 0;
}

.commande {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
}

.commande__previous img {
  width: 100px;
}

.commande__retour img {
  position: relative;
  bottom: -5px;
  width: 50px;
  margin: 0 30px;
}

.commande__next img {
  width: 70px;
  position: relative;
  bottom: -3px;
}



/* CTA -------------------------------------------------------------------------------------------------------------*/

.cta {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#cta__video {
  width: 70vw;
  transform: rotate(-1deg);
  /* box-shadow: 0 0 5px black; */
}

.cta-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.social-wrapper {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;

  bottom: 30vh;
  z-index: 200;
}

.email {
  height: 40px;
  margin: 0 15px;
}

.instagram {
  width: 40px;
  height: 40px;
  margin: 0 15px;
}

.phone {
  width: 30px;
  height: 40px;
  margin: 0 15px;
}


.fadeIn {
  -webkit-animation: fadeIn 5.2s both;
  /* Safari 4+ */
  -moz-animation: fadeIn 5.2s both;
  /* Fx 5+ */
  -o-animation: fadeIn 5.2s both;
  /* Opera 12+ */
  animation: fadeIn 5.2s both;
  /* IE 10+, Fx 29+ */
}


@keyframes fadeIn {
  0% {
    opacity: 0;

  }

  100% {
    opacity: 1;
  }
}

/* ABOUT PAGE ------------------------------------------------------------------------------*/

.about-wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.about-wrapper h1 {
  margin-right: auto;
  color: var(--main-color);
  font-weight: 400;
}

.about__portrait {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  left: 20vw;
  bottom: 0;
}

.about__portrait img {
max-height: 80vh;
}

.about {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 800px;
  max-width: 80vw;
  display: flex;
  align-items: center;
  left: 400px;
}


.about__info {
  width: 80%;
}

.about__info-année {
  font-size: 26px;
}

.about__info-me-contacter {
  font-size: 34px;
}


/* RESPONSIVE -------------------------------------------------------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1450px) {

  /* HOME */

  .home {
    width: 70vw;
    height: 39vw;
  }
  
  .focus:hover {
    width: 70vw;
  }
  
  .home__image-1 {
    width: 28vw;
  }
  
  .home__image-2 {
    width: 28vw;
  }
  
  .home__image-3 {
    width: 28vw;
  }
  
  .home__image-4 {
    width: 28vw;
  }
  
  .home__image-5 {
    width: 28vw;
  }
  
  .home__image-6 {
    width: 28vw;
  }

  /* CTA */

  #cta__video {
    width: 80vw;
    /* box-shadow: 0 0 5px black; */
  }

  /* ABOUT 1450 */

  .about-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
  }

  .about__portrait {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    height: 80vh;
    left: 10vw;
    bottom: 0;
  }

  .about__portrait img {
    max-height: 80vh;
  }

  /* .about__portrait img {
    max-height: 80vh;
  } */

  .about {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 800px;
    max-width: 80vw;
    align-items: center;
    justify-content: center;
    left: 10vw;
  }

}

/* RESPONSIVE 900 ----------------------------------------------------------------------------------------------- */

@media screen and (max-width: 900px) {

  /* MENU */

  .menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .menu__container {
    box-sizing: border-box;
    height: 80px;
    margin: 50px 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  /* LINK RESEAU */

  .link__instagram {
    display: none;
  }

  /* CURSOR */

  div.cursors div span {
    position: absolute;
    top: -40px;
    left: -100px;
    width: 400px;
    font-size: 20px;
    font-weight: 700;
    line-height: 32px;

  }

  /* HOME 900px */

  .home-wrapper {
    min-height: 700px;
    min-height: 100vh;
    height: auto;
    overflow: hidden;
  }

  .home__titre-wrapper {
    justify-content: flex-start;
    margin-left: 20vw;
    width: 100vw;
    height: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 1000px, rgba(0, 0, 0, 0));
  }

  .home__titre a {
    flex-direction: column;
  }

  .home__titre-fonction {
    width: 200px;
  }

  .home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0vw;
    height: 60vh;
    max-height: 700px;
    min-height: 500px;
  }

  .focus:hover {
    width: 90vw;
  }

  .home__image-1 {
    position: absolute;
    width: 40vw;
    top: 0;
    left: auto;
    right: auto;
  }

  .home__image-2 {
    display: none;
  }

  .home__image-3 {
    position: absolute;
    width: 40vw;
    top: auto;
    bottom: auto;
    left: auto;
    right: -45vw;
  }

  .home__image-4 {
    display: none;
  }

  .home__image-5 {
    position: absolute;
    width: 40vw;
    bottom: 0;
    left: auto;
    right: auto;
  }

  .home__image-6 {
    display: none;
  }


  /* WORK PREVIEW */

  .workpreview {
    /* margin-top:50vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* doit correspondre à la longueur de la largeur de tous les items réunis */
    width: 100vw;
    height: auto;
  }

  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    width: 60vw;
    height: 100vh;
    transition: all 2s;
    opacity: 50%;
    z-index: 200;
  }

  .slide:hover {
    opacity: 100%;
    width: 90vw;
    /* transform: translateY(-100px); */
    transition: all 2s;
  }


  /* CTA */

  #cta__video {
    width: 100vw;
    /* box-shadow: 0 0 5px black; */
  }

  /* ABOUT */

  .about-wrapper {
    width: 100vw;
    height: auto;
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    overflow: none;
  }

  .about__portrait {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100vh;
    left: 0;
    bottom: 0;
  }

  .about__portrait img {
    height: 100vh;
  }

  .about {
    left: 0;
  }
  
  
  .about__info {
    width: 80%;
  }

}


@media screen and (max-width: 500px) {

  /* MENU */

  .menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px 0 ;
    box-shadow: 0 0 5px black;
  }

  .menu__container {
    box-sizing: border-box;
    height: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .menu__button-home {
    z-index: 200;
    position: relative;
    bottom: 7px;
    width: 35px;
    height: 40px;
    margin: 0 10px;

  }
  
  .menu__button-work {
    z-index: 200;
    width: 70px;
    height: 40px;
    margin: 0 10px;
  }
  
  .menu__button-contact {
    z-index: 200;
    width: 70px;
    height: 40px;
    margin: 0 10px;
  }

  .menu__button-about {
    z-index: 200;
    width: 60px;
    height: 40px;
    margin: 0 10px;
  }

  /* HOME 500px */

  .home-wrapper {
    min-height: none;
    min-height: 60vh;
    height: 60vh;
  }

  .home__titre-wrapper {
    justify-content: center;
    margin-left: 0vw;
    width: 100vw;
  }

  .home__image-1 {
    display: none;
  }

  .home__image-3 {
    display: none;
  }

  .home__image-5 {
    display: none;
  }

  /* WORK PREVIEW 500px*/

  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 20px;
    width: 80vw;
    height: 100vh;
    transition: all 2s;
    opacity: 50%;
    z-index: 200;
  }

  .slide:hover {
    opacity: 100%;
    width: 100vw;
    /* transform: translateY(-100px); */
    transition: all 2s;
  }

  /* WORK PAGE 500px */

  .work-screnn {
    position: relative;
    overflow: hidden;
  
  }

  .work__info {
    width: 100vw;
    height: auto;
    margin-top: 0vh;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 0;
    /* background-color: blanchedalmond; */
  }
  
  
  .work__info-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    
    padding-top: 50px;
  
    /* width: 100px;
    height: ; */
    z-index: 10;
  }
  
  .work__info-left {
    text-align: right;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0 0 0 0;
  
  }
  
  .work__info-center {
    width: 2px;
    height: 0;
    background-color: gray;
  }
  
  .work__info-right {
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 0;
  
  }
  
  .work-wrapper {
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(0deg) translateX(0vh); 
    transform-origin: top left;
    overflow-y: scroll;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: absolute;
  }
  
  .work-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  .work {
    height: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    /* doit correspondre à la longueur de la largeur de tous les items réunis */
    width: 90vw;
    transform: rotate(0deg) translateY(0vh);
    transform-origin: center;
  }
  
  .work__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0;
    margin: 20px 0;
    width: 90vw;
    /* height: 50vh; */
    transition: all 2s;
    opacity: 80%;
  }
  
  .work__slide:hover {
    opacity: 100%;
    width: 90vw;
    /* transform: translateY(-100px); */
    transition: all 2s;
  }
  
  .work__slide img {
    width: 90vw;
    
  }
  
  .work__slide iframe {
    width: 90vw;
    height: 258px;
    border: 0;
  }

  .commande {
    background-color: black;
    width: 100vw;
    bottom: 0px;
    padding-bottom: 10px;
    padding-top: 10px;
    left: 0;
    right: 0;
  }

  .commande__previous img {
    width: 100px;
  }
  
  .commande__retour img {
    position: relative;
    bottom: -5px;
    width: 50px;
    margin: 0 30px;
  }
  
  .commande__next img {
    width: 70px;
    position: relative;
    bottom: -3px;
  }



  /* CTA 500px*/

  #cta__video {
    width: 140vw;
    /* box-shadow: 0 0 5px black; */
  }

  /* ABOUT */


}